<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<div data-controller="cart">
    <div class="cart-content">
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'cart.product'|trans }}</th>
                <th>{{ 'cart.quantity'|trans }}</th>
                <th>{{ 'cart.subtotal'|trans }}</th>
                <th>{{ 'cart.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cartDetails %}
                <tr data-product-id="{{ item.product.id }}">
                    <td>{{ item.product.name }}</td>
                    <td>
                        <button data-action="click->cart#decreaseQuantity" data-product-id="{{ item.product.id }}" class="btn btn-sm btn-outline-danger">-</button>
                        <span class="quantity">{{ item.quantity }}</span>
                        <button data-action="click->cart#increaseQuantity" data-product-id="{{ item.product.id }}" class="btn btn-sm btn-outline-success">+</button>
                    </td>
                    <td class="subtotal">{{ item.product.price * item.quantity }} €</td>
                    <td>
                        <button class="btn btn-danger btn-remove" data-action="click->cart#removeItem" data-product-id="{{ item.product.id }}"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2">{{ 'cart.total'|trans }} :</td>
                <td id="cart-total">{{ total }} €</td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
