{% extends 'base.html.twig' %}

{% block title %}{{ 'credit_cards.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'credit_cards.header'|trans }}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>{{ 'credit_cards.table.number'|trans }}</th>
            <th>{{ 'credit_cards.table.expiration_date'|trans }}</th>
            <th>{{ 'credit_cards.table.cvv'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for card in creditCards %}
            <tr>
                <td>**** **** **** {{ card.number|slice(-4) }}</td>
                <td>{{ card.expirationDate|date('m/Y') }}</td>
                <td>{{ card.cvv }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'credit_cards.table.no_cards'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-left">
        <a href="{{ path('home') }}" class="btn btn-primary px-5 py-2">{{ 'credit_cards.button.back'|trans }}</a>
    </div>

{% endblock %}
