{% extends 'base.html.twig' %}

{% block title %}{{ 'admin.users.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'admin.users.heading'|trans }}</h1>
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'admin.users.table.id'|trans }}</th>
            <th>{{ 'admin.users.table.email'|trans }}</th>
            <th>{{ 'admin.users.table.first_name'|trans }}</th>
            <th>{{ 'admin.users.table.last_name'|trans }}</th>
            <th>{{ 'admin.users.table.roles'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>
                    {% if 'ROLE_ADMIN' in user.roles %}
                        {{ 'admin.users.roles.admin'|trans }}
                    {% else %}
                        {{ 'admin.users.roles.user'|trans }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(users) }}
{% endblock %}
