{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des commandes</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Référence</th>
            <th>Date de création</th>
            <th>Status</th>
            <th>Client</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.reference }}</td>
                <td>{{ order.createdAt|date('d/m/Y') }}</td>
                <td>{{ order.status.value }}</td>
                <td>{{ order.customer.firstName }} {{ order.customer.lastName }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(orders) }}
{% endblock %}
