<div {{ attributes }}>
        {{ form_start(form) }}
        <div id="credit-card-forms">
                {% for key, creditCardForm in form.creditCards %}
                        <div>
                                <button data-action="live#action" data-live-action-param="removeCreditCard" data-live-index-param="{{ key }}" type="button">
                                        Supprimer
                                </button>
                                {{ form_widget(creditCardForm) }}
                        </div>
                {% endfor %}
        </div>
        <button data-action="live#action" data-live-action-param="addCreditCard" type="button">
                Ajouter une autre carte
        </button>

        <button  data-action="live#action" data-live-action-param="save" type="button" class="btn btn-primary">Soumettre</button>

        {{ form_end(form) }}
</div>









