{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'orders.list_title'|trans }}</h1>
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'orders.table.id'|trans }}</th>
            <th>{{ 'orders.table.reference'|trans }}</th>
            <th>{{ 'orders.table.created_at'|trans }}</th>
            <th>{{ 'orders.table.status'|trans }}</th>
            <th>{{ 'orders.table.customer'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.reference }}</td>
                <td>{{ order.createdAt|date('d/m/Y') }}</td>
                <td>{{ order.status.value }}</td>
                <td>{{ order.customer.firstName }} {{ order.customer.lastName }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(orders) }}
{% endblock %}
